Usage
=====

Escape Unicode Maven File Filter is a Plexus Component that should just work
in any maven-plugin that uses 
[Apache Maven Filtering](http://maven.apache.org/shared/maven-filtering/). 
With that said, the only maven-plugin that has been tested is the 
[maven-resources-plugin](http://maven.apache.org/plugins/maven-resources-plugin/)

To enable the Escape Unicode Maven File Filter in maven-resources-plugin, use 
the following snippet:

    <plugin>
      <groupId>org.apache.maven.plugins</groupId>
      <artifactId>maven-resources-plugin</artifactId>
      <version>${resourcesPluginVersion}</version>
      <dependencies>
        <dependency>
          <groupId>${docGroupId}</groupId>
          <artifactId>${docArtifactId}</artifactId>
          <version>${docVersion}</version>
        </dependency>
      </dependencies>
    </plugin>

This will replace the `DefaultMavenFileFilter` with `EscapeUnicodeMavenFileFilter` 
and all non-ASCII characters will be replaced by the corresponding java escape 
sequence in all properties files processed by maven-resources-plugin.
 
The filter identify properties files by matching file names against a regex 
that by default is `.*\.properties$`.

Since there is no way to configure the filter from the Maven POM, there is a 
system property that may be used to change the regex. The system property is 
`org.polago.maven.shared.filtering.escapeunicode.EscapeUnicodeMavenFileFilter.pattern`.
